body {
    background-color:black;
    
}
p {
    color:white;
   font-size: 20px 
}
 h1{
     color:white;
     background-color:gold;
     font-size: 60px
 }
li{
    color:white;
    font-size: 20px
}
a{
    color:gold;
   font-size: 20px
}

.popa{
    color:#FFFFFF;
}

.Nick{
   color:#FFFFFF; 
}
 
.hi{
  color:#FFFFFF;  
}