body {
    background-color:black;
    
}
p {
    color:white;
    
}
 h1{
     color:white;
     background-color:gold;
     
 }
li{
    color:white;
    
}
a{
    color:gold;
    
}

.popa{
    color:#FFFFFF;
}

.Nick{
   color:#FFFFFF; 
}
 
.hi{
  color:#FFFFFF;  
}